<div class="container">

    <div class="content-container">
        <h1>  Your Tournament Name Goes Here </h1>
            Bracket: {{ playersInFinalBracket }} or {{test}}

        <div class="round1 round">
            <div class="test" ng-repeat="player in playersInFinalBracket track by $index">
                <p>
                    <!--    <a class="btn btn-default fixed-width" href="#" role="button"> {{ player.name }}  ({{player.rank}})</a>-->

                    <a id="border-radius" ng-class="['btn', {'btn-danger': player.rank}, {'btn-default': !player.rank}, 'fixed-width']" href="#" role="button"> 
                       {{ player.name }} <span ng-show="player.rank"> ({{player.rank}})</span> 
                    </a>
                </p>
            </div>
        </div>

        <!--
========================================================================================================================================
=====================================================16 PLAYERS BRACKET     ============================================================
========================================================================================================================================
========================================================================================================================================
-->

        <div class="16">
            <div ng-show="makeMeTrue16">
                <div class="round2 round">
                    <div class="test" ng-repeat="round in rounds2 track by $index">
                        <p>
                            <!--    <a class="btn btn-default fixed-width" href="#" role="button"> {{ player.name }}  ({{player.rank}})</a>-->

                            <a id="border-radius" ng-class="['btn', {'btn-danger': player.rank}, {'btn-default': !player.rank}, 'fixed-width']" href="#" role="button"> {{ player.name }} <span ng-show="player.rank"> ({{player.rank}})</span> </a>
                        </p>
                    </div>

                </div>

                <div class="round3 round">
                    <div class="test" ng-repeat="round in rounds3 track by $index">
                        <p>
                            <!--    <a class="btn btn-default fixed-width" href="#" role="button"> {{ player.name }}  ({{player.rank}})</a>-->

                            <a id="border-radius" ng-class="['btn', {'btn-danger': player.rank}, {'btn-default': !player.rank}, 'fixed-width']" href="#" role="button"> {{ player.name }} <span ng-show="player.rank"> ({{player.rank}})</span> </a>
                        </p>
                    </div>

                </div>

                <div class="round4 round">
                    <div class="test" ng-repeat="round in rounds4 track by $index">
                        <p>
                            <!--    <a class="btn btn-default fixed-width" href="#" role="button"> {{ player.name }}  ({{player.rank}})</a>-->

                            <a id="border-radius" ng-class="['btn', {'btn-danger': player.rank}, {'btn-default': !player.rank}, 'fixed-width']" href="#" role="button"> {{ player.name }} <span ng-show="player.rank"> ({{player.rank}})</span> </a>
                        </p>
                    </div>

                </div>
            </div>
        </div>

        <!--
========================================================================================================================================
=====================================================8 PLAYERS BRACKET     ============================================================
========================================================================================================================================
========================================================================================================================================
-->

        <div class="8">
            <div ng-show="makeMeTrue8">
                <div class="round3 round">
                    <div class="test" ng-repeat="round in rounds3 track by $index">
                        <p>
                            <!--    <a class="btn btn-default fixed-width" href="#" role="button"> {{ player.name }}  ({{player.rank}})</a>-->
                            <a id="border-radius" ng-class="['btn', {'btn-danger': player.rank}, {'btn-default': !player.rank}, 'fixed-width']" href="#" role="button"> 
                                {{ player.name }} <span ng-show="player.rank"> ({{player.rank}})</span> 
                            </a>
                        </p>
                    </div>

                </div>

                <div class="round4 round">
                    <div class="test" ng-repeat="round in rounds4 track by $index">
                        <p>
                            <!--    <a class="btn btn-default fixed-width" href="#" role="button"> {{ player.name }}  ({{player.rank}})</a>-->
                            <a id="border-radius" ng-class="['btn', {'btn-danger': player.rank}, {'btn-default': !player.rank}, 'fixed-width']" href="#" role="button"> 
                                {{ player.name }} 
                                <span ng-show="player.rank"> ({{player.rank}})</span> 
                            </a>
                        </p>
                    </div>

                </div>
            </div>
        </div>

        <!--    $scope.rounds1 = [0, 1, 2, 3, 4, 5, 6, 7];-->
        <!--    $scope.rounds2 = [0, 1, 2, 3];-->
        <!--    $scope.rounds3 = [0, 1];-->
    </div>
</div>