<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Enter Info Partial </title>


</head>

<body>

    <div ng-show="bracket" class="container">

        <div class="content-container">
            <h1> {{ inputsObj.input1 }}  </h1>


            <div class="block">

                <form class="navbar-form navbar-left" role="search" ng-submit="addPlayerToTable()">
                    <div class="form-group">
                        <!--            <input ng-keyup="$event.keyCode == 13 && myFunc(currentPlayer)" ng-model="currentPlayer.name" type="text" class="form-control" placeholder="Name">-->
                        <input ng-model="currentPlayer.name" type="text" class="form-control" placeholder="Name">
                        <!--            <input ng-keyup="$event.keyCode == 13 && myFunc(currentPlayer)" ng-model="currentPlayer.rank" type="number" class="form-control rank-input" placeholder="Seed">-->
                        <input ng-model="currentPlayer.rank" type="number" class="form-control rank-input" placeholder="Seed">

                    </div>
                    <!--        ______________________________________BUTTONS _____________________________________________-->
                    <button type="submit" class="btn btn-default submit-player"> Submit Player</button>
                    <button ng-click="doIt()" type="button" class="btn btn-default">Make Bracket </button>
                    
                    <button ui-sref="welcome" type="button" class="btn btn-default create-new-tournament"> Create New Tournament </button>
                </form>

            </div>

            <div id="test">

            </div>
            <div id="block">
                <table class="table table-hover table-margin">
                    <tr>
                        <th> Player/Team Name</th>
                        <th></th>
                        <th> Rank </th>
                    </tr>

                    <tr ng-click="deletePlayer(player)" ng-repeat="player in players | orderBy:'rank'">
                        <td ng-mouseover="show()"> {{ player.name }} </td>
                        <td> <span ng-show="clickToDelete">Click to Delete</span></td>
                        <td> {{ player.rank }} </td>
                    </tr>


                </table>
            </div>


        </div>
    </div>
    
    
    
<!--
    ========================================================================================================================================
    ========================================================================================================================================
    =====================================================This is a Big Comment  ============================================================
    ========================================================================================================================================
    ========================================================================================================================================
-->

<div ng-hide="bracket" class="container">

    <div class="content-container">
        <h1>  {{ inputsObj.input1 }}  </h1>
        
        <div>
        <a ng-click="flip()" class="btn btn-info" id="add-players" href="#" role="button"> Add More Players </a>
        </div>
        
        <div class="round1 round">
            <div class="test"  ng-repeat="player in playersInFinalBracket track by $index">
                <p>
                    <!--    <a class="btn btn-default fixed-width" href="#" role="button"> {{ player.name }}  ({{player.rank}})</a>-->

                    <a ng-click="advanceWinner(player)"  id="border-radius" ng-class="['btn', {'btn-primary': player.rank}, {'btn-default': !player.rank}, 'fixed-width']" href="#" role="button"> 
                       {{ player.name }} <span ng-show="player.rank"> ({{player.rank}})</span> 
                    </a>
                </p>
            </div>
        </div>

       
       
       
       
        <!--
========================================================================================================================================
=====================================================16 PLAYERS BRACKET     ============================================================
========================================================================================================================================
========================================================================================================================================
-->

        <div class="16">
            <div ng-show="makeMeTrue16">
                <div class="round2 round">
                    <div class="test" ng-repeat="player in rounds2 track by $index">
                        <p>
                            <!--    <a class="btn btn-default fixed-width" href="#" role="button"> {{ player.name }}  ({{player.rank}})</a>-->

                            <a ng-click="advanceWinner2(player)" id="border-radius" ng-class="['btn', {'btn-primary': player.rank}, {'btn-default': !player.rank}, 'fixed-width']" href="#" role="button"> {{ player.name }} <span ng-show="player.rank"> ({{player.rank}})</span> </a>
                        </p>
                    </div>

                </div>

                <div class="round3 round">
                    <div class="test" ng-repeat="player in rounds3 track by $index">
                        <p>
                            <!--    <a class="btn btn-default fixed-width" href="#" role="button"> {{ player.name }}  ({{player.rank}})</a>-->

                            <a ng-click="advanceWinner3(player)" id="border-radius" ng-class="['btn', {'btn-primary': player.rank}, {'btn-default': !player.rank}, 'fixed-width']" href="#" role="button"> {{ player.name }} <span ng-show="player.rank"> ({{player.rank}})</span> </a>
                        </p>
                    </div>

                </div>

                <div class="round4 round">
                    <div class="test" ng-repeat="player in rounds4 track by $index">
                        <p>
                            <!--    <a class="btn btn-default fixed-width" href="#" role="button"> {{ player.name }}  ({{player.rank}})</a>-->

                            <a id="border-radius" ng-class="['btn', {'btn-primary': player.rank}, {'btn-default': !player.rank}, 'fixed-width']" href="#" role="button"> {{ player.name }} <span ng-show="player.rank"> ({{player.rank}})</span> </a>
                        </p>
                    </div>

                </div>
            </div>
        </div>

        <!--
========================================================================================================================================
=====================================================8 PLAYERS BRACKET     ============================================================
========================================================================================================================================
========================================================================================================================================
-->

        <div class="8">
            <div ng-show="makeMeTrue8">
                <div class="round3 round">
                    <div class="test" ng-repeat="round in rounds3 track by $index">
                        <p>
                            <!--    <a class="btn btn-default fixed-width" href="#" role="button"> {{ player.name }}  ({{player.rank}})</a>-->
                            <a id="border-radius" ng-class="['btn', {'btn-danger': player.rank}, {'btn-default': !player.rank}, 'fixed-width']" href="#" role="button"> 
                                {{ player.name }} <span ng-show="player.rank"> ({{player.rank}})</span> 
                            </a>
                        </p>
                    </div>

                </div>

                <div class="round4 round">
                    <div class="test" ng-repeat="round in rounds4 track by $index">
                        <p>
                            <!--    <a class="btn btn-default fixed-width" href="#" role="button"> {{ player.name }}  ({{player.rank}})</a>-->
                            <a id="border-radius" ng-class="['btn', {'btn-danger': player.rank}, {'btn-default': !player.rank}, 'fixed-width']" href="#" role="button"> 
                                {{ player.name }} 
                                <span ng-show="player.rank"> ({{player.rank}})</span> 
                            </a>
                        </p>
                    </div>

                </div>
            </div>
        </div>

        <!--    $scope.rounds1 = [0, 1, 2, 3, 4, 5, 6, 7];-->
        <!--    $scope.rounds2 = [0, 1, 2, 3];-->
        <!--    $scope.rounds3 = [0, 1];-->
    </div>
</div>


</body>

</html>